<div class="contenedor">
  <p class="contenedor-title">Datos del empleado</p>
  <app-form (agregarEmpleado)="agregarEmpleado($event)"></app-form>
  <app-empleados-table [empleados]="empleados" (eliminarEmpleado)="eliminarEmpleado($event)"></app-empleados-table>
</div>