.contenedor{
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}
.contenedor-title{
    position: absolute;
    background-color: white;
    margin-top: -10px;
    margin-left: 15px;
    padding: 0 15px;
}