<div class="empleados">
  <h1 class="center">EMPLEADOS</h1>
  <table class="center">
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column }}</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let empleado of empleados[0]">           
        <td>{{ empleado.brm }}</td>
        <td>{{ empleado.nombre }}</td>
        <td class="row-img">
          <img src="{{ 'data:image/jpg;base64,' + empleado.foto }}"  alt="" />
        </td>
        <td>{{ empleado.puesto }}</td>
        <td>
          <button (click)="borrar(empleado)">Borrar</button>
          <button (click)="editar(empleado)">Editar</button>
          <div *ngIf="empleado.visible">
            <form enctype="multipart/form-data">
              <div class="form-group brm">
                <label>BRM</label>
                <input type="text" [(ngModel)]="brm" name="brm" >
              </div>
              <div class="form-group puesto">
                <label>Puesto</label>
                <select name="puesto" [(ngModel)]="puesto">
                  <option value="Ejecutivo">Ejecutivo</option>
                  <option value="Desarrollador">Desarrollador</option>
                </select>
              </div>
              <div class="form-group nombre">
                <label>Nombre</label>
                <input type="text" [(ngModel)]="nombre" name="nombre">
              </div>
              <div class="form-group foto">
                <label>Foto</label>
                <input type="file" (change)=onImageUpload($event) ng-model='yourModel' name="foto">
              </div>
              <div class="form-group btn">
                <button (click)="editarForm(empleado)">Editar</button>
              </div>
            </form>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>