table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
}
th,tr:nth-child(even) {
    background-color: #c7c7c7;
}
.row-img{
    width: 250px;
    height: 250px;
}
.row-img img{
    width: 100%;
    height: 100%;
}