.form{
    border: 1px solid black;
    border-radius: 3px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 25px; 
    grid-template-areas: 
    "brm puesto"
    "nombre ."
    "foto boton"; 
}
.form-group label{
    display: block;
}
.form-group input,select{
    margin-top: 5px;
    width: 100%;
}
.brm { grid-area: brm; }
.puesto { grid-area: puesto; }
.nombre { grid-area: nombre; }
.foto { grid-area: foto; }
.btn { grid-area: boton; display: flex; align-items: flex-end;}
.btn button{
    width: 100%;
}