<form [formGroup]="empleadoForm" class="form" enctype="multipart/form-data" (ngSubmit)="postEmpleado()">
  <div class="form-group brm">
    <label>BRM</label>
    <input type="text" formControlName="brm">
  </div>
  <div class="form-group puesto">
    <label>Puesto</label>
    <select formControlName="puesto">
      <option value="Ejecutivo">Ejecutivo</option>
      <option value="Desarrollador">Desarrollador</option>
    </select>
  </div>
  <div class="form-group nombre">
    <label>Nombre</label>
    <input type="text" formControlName="nombre">
  </div>
  <div class="form-group foto">
    <label>Foto</label>
    <input type="file" (change)=onImageUpload($event) name="foto">
  </div>
  <div class="form-group btn">
    <input type="submit" value="Agregar"/>
  </div>
</form>